.topheader{
        margin-left: 50px;
        font-size: 10px;
       }
       .a{
        margin-left:950px;
       }
       .navbar-nav{
        margin-left: 500px;
        gap: 30px;
       }
        .navbar .navbar-nav .nav-link:hover{
        color: orangered 
       }
       .location{
        position: absolute;
        top:300px;
        left: 350px;
        background-color:white ;
        font-size: 18px;
       }
       .location span{
        color: red;
       }
        .text{
       position: absolute;
    top: 350px;
    left: 350px;
    color: white;
    font-size: 50px;
    font-weight: bold;
   }
   .featured{
     position: relative;
    bottom: 140px;
   }
   .featuredicon{
    position:absolute;
    left:5px;
    top: 450px;
    background-color:orangered;
    width: 75x;
    height: 75px;
    border: 10px solid orangered;
    border-radius: 40px;
   }
   .title{
    position: relative;
    bottom: 120px;
   }
   .question{
  padding:10px;
  cursor:pointer;
}
.answer{
  display:none;
  color:gray;
  padding-top:5px;
}
.question:hover{
color: orangered
}
.question:hover .answer{
  display:block;
}
.videoframe{
  position: absolute;
  width: 65%;
  z-index: 800;
  top: 1590px;
  left: 240px;
  border-radius: 10px;
}
.fa-circle-play{
  position:absolute;
  color:white;
  font-size: 30px;
  top: 1800px;
  left: 650px;
  z-index: 900;
}
.videoview{
  position: relative;
  bottom: 390px;
  left: 630px;
}
   .gettext{
  position: relative;
  color: white;
  bottom: 380px;
  left: 550px;
}
.stats{
  display: flex;
  margin-left:180px ;
  text-align:center;
  gap: 150px;
}
.box{
  width: 200px;
  background-color: #ebbaba;
  border:1px solid #eee;
  border-radius: 10px;
  padding:15px;
  margin:20px;
  position:relative;
}
.box h2{
  color:#ff4a4a;
  position: relative;
  left: -2px;
   top: 7px;
  font-size:28px;
  margin-right:10px;
}
.dot{
  width:35px;
  height:35px;
  background:#ff4a4a;
  border-radius:50%;
  position:absolute;
  top:-15px;
  left:180px;
}
.deal h6{
  position: relative;
  top: 15px;
}
.deal p{
  position: relative;
  top: 15px;
  left: 5px;
}
.shadow-box{
  box-shadow: 0px 0px 20px 0 gray;
}
.deal h5{
  position: relative;
  left: 700px;
  top:-70px;
}
.extra{
  position: relative;
  left: 50px;
}
.property-img{
height:220px;
}
.map iframe{
  position: relative;
  left: 150px;
  top: -300px;
  z-index: 400;
  border-radius: 10px;
}
.form-box{
  position: relative;
  left: 850px;
  top: -875px;
  z-index: 400;
  background:white;
  box-shadow: 0 0 10px gray;
  padding:20px;
  width:350px;
  border-radius:10px;
}
.form-box label{
  display:block;
  margin-top:10px;
  font-weight:bold;
}
.form-box input,
.form-box textarea{
  width:100%;
  padding:8px;
  margin-top:5px;
  margin-bottom:10px;
}
.form-control{
  background-color: rgb(219, 208, 208);
  border-radius:50px ;
}
.map-text{
  position: relative;
  top: -380px;
}
.contact-cards{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    position: relative;
    top: -290px;
    left: 140px;
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 8px;
}
.property-heading p{
position: absolute;
background-color: white;
left: 615px;
top: 210px;
z-index: 50;
border: 2px solid white;
}
.property-heading h1{
 position: absolute;
 color: white;
left: 570px;
top: 260px;
z-index: 50;
font-weight: bold;
}
.align{
  position: relative;
  top: 75px;
  left: 450px;
}
.property-text{
  position: absolute;
  left: 140px;
}
.faq{
  position: relative;
  top:350px;
  background-color: #f2f2f2;
}
.form-contact{
   box-shadow: 0 0 10px gray;
background:white;
  padding:20px;
  width:350px;
  border-radius:10px;
}
.form-contact label{
  display:block;
  margin-top:10px;
  font-weight:bold;
}
.form-contact input,
.form-contact textarea{
  width:100%;
  padding:8px;
  margin-top:5px;
  margin-bottom:10px;
}
.contacticon{
   border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 8px;
}

